			/* --- Headings --- */
			h2, h3, h4, h5 {font-size:1em}
			
			/* --- Links --- */
			a {padding:1px; border:0 solid #e0e0e0; color:#05b}
			
			/* --- Accordion --- */
			.js #main .accordion {visibility:hidden}
			
			.js #side .accordion {display:none}
			
			.accordion {margin:0; padding:0 10px}
			
			.accordion li {list-style-type:none}
			
			.accordion li.last-child {margin-left:19px; list-style-type:disc}
			
			
			/*  
			  Add styles for all links in the 'accordion':
			.accordion a {...}
			
			
					
			a.trigger { 
				display: block; 
				text-indent: 17px; 
				overflow: hidden; 
				background-repeat: no-repeat;
				width: 16px; 
				height: 16px; 
				background-image: url(images/ui-icons_cccccc_256x240.png);
				background-position: 0 -192px;
			  }
			
			a.trigger.open {
				display: block; 
				text-indent: 17px; 
				overflow: hidden; 
				background-repeat: no-repeat;
				width: 16px; 
				height: 16px; 
				background-image: url(images/ui-icons_cccccc_256x240.png);
				background-position: -16px -192px; }
			
			*/    
			
			
			
			a.trigger {display:block; 
				padding-left:20px; 
				background-image: url(/media/images/plus.gif); 
				background-repeat: no-repeat; 
				background-position: 1px 1px;  
				font-weight:700}
			
			a.trigger.open {background-image: url(/media/images/minus.gif)}
			
			.last-child a.trigger{padding-left:1px; background-image:none; font-weight:normal}

			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			