html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	overflow: hidden;
	background: #ddd; 
	color: #333; 
	font: normal 90%/1.3 Arial,Helvetica,sans-serif; 
}

#header {
	position : fixed;
 	width : 100%;
 	height : 100px;
 	top : 0;
 	right : 0;
 	bottom : auto;
	left : 0;
 }
#header img { 
	float: right; 
	margin-top: -10px; 
	margin-right: -5px; 
}
#header h1 { 
	text-align: center;
	color: #666;
  	font: normal xx-large/1.5 Georgia,serif;
}
 
#content {
 	position : fixed;
 	top : 100px;
 	margin : 0px 0px 0px 0px;
 	width : auto;
 	height : auto;
 	padding-left : 5px;
 	padding-right : 12px;
 	overflow : auto;
 }
 

form table { 
	margin-bottom: 1em; 
}

form table tbody th { 
	font-weight: normal; 
	padding-top: .3em; 
	text-align: right;
  	vertical-align: top;
}

form label { 
	color: #666; 
	font-size: 90%; 
}

form p.hint { 
	color: #666; 
	font-size: 90%; 
	font-style: italic; 
	margin: 0; 
}

form .error { 
	color: #b00; 
}

a {
  text-decoration: none;
}

.legalese { 
	color: #999; 
	margin: 0; 
}

ol.links li .info { 
	font-size: 85%; 
}

ol.links li .info :link, ol.links li .info :visited { 
	color: #666; 
}

ul.comments { 
	list-style: none; 
	margin: 1em 0; 
	padding: 0 0 0 1em; 
}

ul.comments li { 
	color: #999; 
	margin: 0 0 1em; 
}
ul.comments blockquote { 
	color: #333; 
	font-style: normal; 
	margin: 0;
  	padding: 0;
}

.action:link, .action:visited { 
	background: #f3f3f3; 
	border: 1px outset #ddd;
  	color: #666; 
  	font-size: 90%; 
  	padding: 0 .3em;
  	text-decoration: none;
}
.action:link:hover, .action:visited:hover { 
	background: #e8e8e8;
  	border-color: #aaa; 
  	color: #000; 
  	text-decoration: none;
}

button {
	background: #f3f3f3; 
	border: 1px outset #ddd;  
	color: #666; 
	font-size: 90%; 
	padding: 0 .3em;
}


#top_map {
 	position : fixed;
 	width : 100%;
 	height : 150px;
 	padding : 5px;
 }
 
 
 #left {
 	position : fixed;
 	top = 150px;
 	left : 0;
 	}
 	
#center {
 	position : fixed;
 	top = 150px;
 	left : 25%;
	}
 
#right {
 	position : fixed;
 	top = 150px;
 	left : 50%;
	}



 #map_container {
 	position : fixed;
 	top : 180px;
 	width : 100%;
 	overflow : auto;
 }
